<div id="logo">
  <%= link_to 'Find Coffee', root_path %>
</div>

<!-- RESULTS -->
<% if !@offerings.nil? %>
  <% if @offerings.length > 0 %>
    <div id="results">
      <%= will_paginate %>
      <ul>
        <% @offerings.each do |result| %>
          <% name = "#{result.name.titleize} | " +
                    "#{result.origin} | " +
                    "#{result.roaster.name}" %>
          <%= link_to( name, offering_path(result)) %><br \>
        <% end %>
      </ul>
      <%= will_paginate %>
    </div>
  <% else %>
    <div id="noresults">
      <p> No coffees match that search criteria.</p>
    </div>
  <% end %>
<% else %>
  <div id="welcome">
    <h3>Find the newest coffees from the best roasters all over the country.</h3>
  </div>
  <!-- cycle through flavors -->
<% end %>

<div id="coffee_form">
  <%= render 'shared/form' %>
</div>
