<div id="logo">
  <%= link_to "Find Coffee", root_path %>
</div>

<div id="offering_container">
  <div id="title">
    <div id="coffeeName">
      <%= @offering.name.downcase %>
    </div>
    <div id="roasterName">
      <%= @offering.roaster.name %>
    </div>
  </div>

  <div id="released">
    <p>Released: <%= @released %>
  </div>

  <div id="flavors">
    <%= @offering.flavors_brief || @offering.flavors || 'n/a' %>
  </div>

  <div id="description">
  <h4>Description</h4>
    <%= @offering.description %>
  </div>
 
  <div id="stats">
    <h4>Stats</h4>
    <ul>
      <% @stats.each do |category, value| %>
        <% unless value.nil? %>
          <li><%= "#{category}: #{value.titleize}" %></li>  
        <% end %>
      <% end %>
    </ul>
  </div>

  <div id="buyInfo">
    <% unless @offering.price.nil? %>
      <div id="price">
        <%= "#{@offering.price}" %>
      </div><br \>
    <% end %>
    <%= link_to "Buy from #{@offering.roaster.name}'s online store.",
                @offering.link_to_buy %>
  </div>
</div>

<div id="coffee_form">
  <%= render 'shared/form' %>
</div>
